.background {
  background-color: #490f76;
  height: 100 vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poker-card {
  margin-top: 6rem;
  background-color: whitesmoke;
  height: 20rem;
  width: 14rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 5rem;
  padding: 2rem;
}

.card-value {
  align-self: center;
}

.last-suit {
  align-self: flex-end;
}
